body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  height: 5rem;
  width: 5rem;
  border: 1px solid black;
  text-align: center;
  font-size: 2rem;
  color: steelblue;
}

.white {
  background-color: whitesmoke;
}

.black {
  background-color: rgb(23, 22, 22);
}

.yellow {
  background-color: rgb(232, 237, 127);
}
